@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Ubuntu:wght@500;700&display=swap');

@font-face {
    font-family: "Gabriela Alt";
    src: url("/fonts/gabriela-alt-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Grobek";
    src: url("/fonts/Grobek-Regular.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "Grobek";
    src: url("/fonts/Grobek-Black.woff") format("woff");
    font-weight: bolder;
}
@font-face {
    font-family: "Grobek";
    src: url("/fonts/Grobek-Bold.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "Grobek";
    src: url("/fonts/Grobek-Light.woff") format("woff");
    font-weight: light;
}
@font-face {
    font-family: "Grobek";
    src: url("/fonts/Grobek-Thin.woff") format("woff");
    font-weight: lighter;
}
@font-face {
    font-family: "Grobek";
    src: url("/fonts/Grobek-Medium.woff") format("woff");
    font-weight: medium;
}

body {
    background-color: hsl(30, 38%, 92%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    background-color: white;
    display: grid;
    width: 700px;
    height: 490px;
    grid-template-columns: 45% 1fr;
    grid-template-rows: 100%;
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.container .card .card-img {
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container .card .card-content {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .card .card-content > h4 {
    letter-spacing: 8px;
    font-size: .8rem;
    color: #B1B2B5;
    font-family: "Montserrat";
    font-weight: 700;
}

.container .card .card-content > h2 {
    font-size: 2.5rem;
    line-height: 40px;
    font-weight: bolder;
    color: hsl(212, 21%, 14%);
    font-family: "Grobek";
}

.container .card .card-content > p {
    line-height: 1.6rem;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
}

.container .card .card-content .card-price {
    display: flex;
    align-items: center;
    font-family: "Gabriela Alt";
}

.container .card .card-content .card-price > h2 {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: bolder;
} 

.container .card .card-content .card-price > p {
    margin-left: 20px;
    color: hsl(228, 12%, 48%);
    font-weight: bolder;
    font-size: 1rem;
}

.container .card .card-content .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 12px;
    transition: all .2s;
}

.container .card .card-content .card-button span {
    margin-left: 10px;
}

.container .card .card-content .card-button:hover {
    background-color: #1A4031;
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    gap: 30px;
    text-align: center;
    background-color: #3D8168;
    font-family: "Ubuntu";
    font-weight: bolder;
    padding: 10px;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.attribution a {
    color: white;
    margin-left: 3px;
}

.attribution a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .container .card {
        width: 90vw;
        height: 80vh;
        grid-template-columns: 100%;
        grid-template-rows: 30% 1fr;
    }
    
    .container .card .card-img {
        background-image: url("images/image-product-mobile.jpg");
    }
    
    .container .card .card-content > h4 {
        font-size: .8rem;
        font-weight: 500;
    }

    .container .card .card-content > h2 {
        font-size: 2rem;
        line-height: 30px;
    }

    .attribution {
        font-size: .6rem;
        padding: 10px;
    }
}